.popular {
    .title {
        text-align: center;
        font-family: $font1;
        letter-spacing: 1.8px;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 35px 0;
        position: relative;
    }
    &-articles {
        position: relative;
        margin: 25px auto;
        img {
            width: 100%;
        }
        .wrap_desc {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px;
            @include mq(md) {
                padding: 30px;
            }
            @include mq(xs) {
                padding: 10px;
            }
            h4 {
                text-transform: uppercase;
                font-family: $font2;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 8px;
                @include mq(lg) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .shortDecs {
                font-family: $font5;
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 7px;
                display: none;
                @include mq(md) {
                    display: block;
                }
                @include mq(sm) {
                    font-size: 14px;
                    line-height: 17px;
                }
                @include mq(xs) {
                    display: none;
                }
            }
            .datePublic {
                font-size: 13px;
            }

        }
    }
}